<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Recruiter AI</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" href="" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" href="" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}"  rel="stylesheet">

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    

    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn bg-white shadow" data-wow-delay="0.1s">
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="index.html" class="navbar-brand ms-4 ms-lg-0 pl-2">
                <h2 class="text-primary ">Recruiter AI</h2>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="{{ url_for('index') }}" class="nav-item nav-link activep">Home</a>
                    <a href="About.html" class="nav-item nav-link">About</a>
                    <a href="Team.html" class="nav-item nav-link">Team</a>
                    
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s" style="position: relative;">
        <img class="w-100" src="{{ url_for('static', filename='img/bgimg.png') }}" alt="Image">
        <div class="container" style="position: absolute; top: 50%; left:10%; transform: translateY(-50%);">
            <div class="row">
                <div class="col-lg-8">
                    <p class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown">
                        Welcome to Recruiter AI</p><br>
                    <h2 class=" mb-4 animated slideInDown">An Advanced Real-Time Job Recommendation System and Resume Analyzer</h2><br>
                    <a href="#target-section" class="btn btn-primary py-3 px-5 animated slideInDown">Try Now</a>
                </div>
            </div>
        </div>
    </div>


    <!-- About Start -->
    <span id="target-section"></span>
    <br><br><br>
    <div class="container-xxl py-5" id="main-1">
        <div class="container">
            <div class="row g-4 align-items-end mb-4">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class=" mb-4 text-center ">We Help Our Clients To Analyze Their Resume and Recommends The Latest Jobs Suitable To Their Resume </h2>  
                </div>
            </div>
            <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-times text-white"></i>
                                </div>
                                <div class="ps-3 pt-2">
                                    <h5>No Hidden Cost</h5>
                                </div>
                                
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                                <div class="ps-3 pt-2">
                                    <h5>Dedicated Team</h5>  
                                </div>
                                
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone text-white"></i>
                                </div>
                                <div class="ps-3 pt-2">
                                    <h5>24/7 Available</h5>
                                    <i class="fa-solid fa-arrow-trend-up"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Upload Start -->
    <div class="container-fluid uploadsec mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="text-white text-center  mb-4">Upload Your Resume And Job Description</h2>  
                </div>
            </div><br><br>
            <div class="row g-5">
                <form action="{{ url_for('predict')}}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3 wow fadeInUp">
                            <div class="mb-3">
                                <label for="fileInput1" class="form-label text-white">Select Resume PDF *:</label>
                                <input type="file" class="form-control" id="fileInput1" name="Resume_file" accept="application/pdf" required>
                            </div>
                        </div>
                        <div class="col-lg-3 wow fadeInUp">
                            <div class="mb-3">
                                <label for="fileInput2" class="form-label text-white">Select Job Description PDF:</label>
                                <input type="file" class="form-control" id="fileInput2" name="Job_description_file" accept="application/pdf">
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                    <div class="upload-button-container wow fadeInUp mt-4">
                        <button type="submit" class="btn btn-upload ">upload</button>
                    </div>
                </form>                                    
            </div>
        </div>
    </div>
    <!-- Upload Ends-->
    
    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center  mb-3 mb-md-0">
                    &copy; <a href="#">Recruiter AI </a>, &nbsp; All Right Reserved.
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    
    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- JavaScript -->
    <!-- JavaScript -->


</body>

</html>